
body{
    margin: 0;
    padding:0;
    background-color: #d2dbdd;
}
 div{
     display: flex;
     width: 100%;
     height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 